# VARIABLES

In [9]:
>>> exp = [2200,2350,2600,2130,2190]

# (a)
>>> exp[1]-exp[0]
150 

# (b)
>>> exp[0]+exp[1]+exp[2]
7150 

# (c)
>>> 2000 in exp
False # Means you didnâ€™t spend 2000$ in any of the month

# (d)
>>> exp.append(1980)
>>> exp
[2200, 2350, 2600, 2130, 2190, 1980]

# (e)
>>> exp[3] = exp[3] - 200
>>> exp[3]

1930

# NUMBERS

In [5]:
>>> base=15
>>> height=22
>>> area=1/2*(base*height)
>>> area

165.0